



 header{
  position: relative;
  background: none;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 font-weight: 600;
}

a{
  color: #af1313;
}

a:hover{
color: black;
  cursor: pointer;
}




.logo{
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: 'Silkscreen', cursive;
}


.cartbutton {
  background: #FEAE62;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}



a span{
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
  font-weight: 500;
}


.cartbutton:hover {
  background:#fabe8c;
  cursor: pointer;
}


.menu{
  border-radius: 10px;
  width: 20%;
  min-width:8rem;
}









/* header{
  position: relative;
  background: none;
  padding: 0;
  margin: 1rem 0 ;


}

a{
  color: #af1313;
}

a:hover{
color: black;
  cursor: pointer;
}


.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bolder;
  padding: 0.9rem;
  font-size: 1.5rem;
  font-family: 'Silkscreen', cursive;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 0.9rem;
  display: inline-block;
}

a span{
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.cartbutton {
  background: #FEAE62;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.cartbutton:hover {
  background:#fabe8c;
  cursor: pointer;
}


.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  border-radius: 10px;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
} */
