<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">XYZ</a></li>
            <li><a href="#">ABC</a></li>
            <li><a href="#">123</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">XYZ</a></li>
            <li><a href="#">ABC</a></li>
            <li><a href="#">123</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>Careers</h3>
          <ul>
            <li><a href="#">Job openings</a></li>
            <li><a href="#">Employee </a></li>
            <li><a href="#">Benefits</a></li>
          </ul>
        </div>
        <div class="col-lg-3 item social">
          <a href="#"><i class="fa fa-facebook"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
          ><a href="#"><i class="fa fa-snapchat"></i></a
          ><a href="#"><i class="fa fa-instagram"></i></a>
          <p class="copyright">Copyright to Nikhil @2022</p>
        </div>
      </div>
    </div>
  </footer>
</div>
